<div class="main-wrapper">
  <div class="item-wrapper">
    <h1>Welcome to dashboard-system app!</h1>
    <div class="buttons-wrapper">
      <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default login-btn sign-in-btn" %>
      <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default login-btn sign-up-btn" %>
    </div>
  </div>
</div>